@use "@material/icon-button";
@use "@material/top-app-bar/mdc-top-app-bar";

@include icon-button.core-styles;

@use "@material/card";

@include card.core-styles;

body {
    margin: 0;
}

.meu-card {
    margin-top: 100px;
    margin-left: 20px;
    padding: 20px;
}