.wrapper {
    width: 100%;
    padding: 5px;
}

input {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    background-color: rgb(35, 34, 34);
    border-radius: 10px;
    text-align: right;
    color: white;
    font-weight: bold;
    box-sizing: border-box;
    font-size: 40px;
}
button {
    width: 100%;
    background-color: seagreen;
    color: white;
    font-size: 20px;
    cursor: pointer;
    padding: 10px 0;
}
.resultado {
    width: 100%;
    text-align: center;
    margin-top: 50px;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;    
}

